@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.form{
    &__group{
        margin-bottom: rem(16);
        &--footer{
            display: flex;
            background: $clr-white;
            @include border-radius(9px);
        }
        &--contact{
            outline:2px solid $clr-border;
            @include flex-center-vertical;
            padding-left: em(20);
        }
    }
    &__control{
        width: 100%;
        background: $clr-white-90;
        border:none;
        outline:2px solid transparent;
        padding: em(12) em(24);
        color:$clr-primary;
        font-size: rem(16);
        line-height: 2.5;
        font-family: $ff-regular;
        caret-color: $clr-secondary;
        @include border-radius(2px);
        &:focus{
            outline-color: $clr-secondary;
        }
        &--footer{
            // outline: none;
            border-top-right-radius:0px;
            border-bottom-right-radius:0px;
            background-color: $clr-white;
        }
        &--select{
            padding-block:em(19); 
        }
    }
}

button[type="submit"]{
    padding: em(16) em(32);
}


// Custome Checkbox
.form__group .form-check-input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
  
.form__group .form-check-label{
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  
.form__group .form-check-label::before {
    content:'';
    background-color: transparent;
    border: 1.8px solid $clr-primary;
    @include border-radius(1px);
    padding: em(8);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: rem(10);
    @include breakpoint-md{
        margin-right: rem(32);
        padding: em(10);
    }
}
.form__group .form-check-input:checked + .form-check-label::before{
    border-color: $clr-secondary;
}
  
.form__group .form-check-input:checked + .form-check-label::after {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 6px;
    width:rem(6.4);
    height: rem(12);
    border: 1.8px solid $clr-secondary;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);

    @include breakpoint-md{
        left: 8px;
        width:rem(8);
    }
    @include breakpoint-lg{
        top: 10px;
        left: 7px;
        height: rem(16);
    }
}








// Custome select 
// select{
//     min-width: 350px;
//     position: relative;
// }
  
// .form__control--select{
//     appearance: none;
//     -webkit-appearance: none;
//     width: 100%;
//     padding: 0.675em 6em 0.675em 1em;
//     color: #000;
// }
  
 
//   .form__control--select::after {
//     content: "";
//     position: absolute;
//     right: 1rem;
//     pointer-events: none;
//   }
  

// .form__control--select::after {
//     border-left: 0.3rem solid transparent;
//     border-right: 0.3rem solid transparent;
//     border-top: 0.3rem solid black;
//     top: 55%;
// }
  



// #submit{
//     font-size: rem(18);
//     @include breakpoint-md{
//         font-size: rem(20);
//     }
// }

// #submit:disabled{
//     cursor: not-allowed;
//     opacity: 0.6;
// }
