@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.experties{
    &__figure{
        position: relative;
    }
    &__rating{
        top: -50px;
        right: 1%;
        padding: em(16);
    }
}

.sed{
    &__figure{
        position: relative;
    }
    &__counter-container{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: rem(-80);

        .divider{
            background: $clr-white-75;
        }
    }
    &__counter-wrapper{
        @include flex-center;
        flex-direction: column;
        padding: em(30) em(20);
        background: $clr-secondary;
        color:$clr-white;
        @include breakpoint-md{
            padding: em(40) em(20);
        }
        @include breakpoint-lg{
            padding: em(50) em(20);
        }
        p{
            margin-top: 0;
        }
    }
    &__counter{
        &::after{
            content: "+";
        }

    }
}

.meet-owner{
    &__details{
        background: $clr-secondary;
        padding: em(60) em(24);
        @include breakpoint-sm{
          padding: em(80) em(24);
        }
        @include breakpoint-md{
          padding-inline:em(36);
        }
        @include breakpoint-lg{
          padding:em(55.2) em(80);
        }
        @include breakpoint-xl{
          // padding:em(64) em(80);
          padding:em(90.88) em(80);
        }
    }
    &__figure{
        position: relative;
    }
    &__experience{
        bottom: 70px;
        right: 4%;
        @include breakpoint-lg{
            bottom: 100px;
            right: -3%;
        }
    }
}

.clients{
    height: 638px;
    background-color: $clr-primary;
    padding-block: em(60);
}

.build-together{
    background-image: url("../../../assets/images/renewables_construction.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__wrapper{
        background: $clr-primary;
        padding-block: em(50);
        padding-inline:em(24);
        @include breakpoint-md{
            padding-inline: em(65) em(24);
        }
    }
}

.follow-us{
    &__title-wrapper{
        display: flex;
        align-items: center;
        gap:rem(26);
    }
    &__instagram{
        padding: em(5.10);
        @include border-radius(2px);
        background-color: $clr-secondary;
    }
}

.timeline{
    &__year{
        font-size: clamp(2.5rem, 6vw + 1rem, 5rem);
    }
}
