@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;



.blogs-filter{
    &__group{
        display: flex;
        align-items: center;
        background: transparent;
    
        select{
            background: transparent !important;
            border:none;
            outline: none;
            font-size: rem(20);
            line-height: 1.5;
            font-family: $ff-objsRegular;
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);
            padding-block: em(10);
            overflow-y: scroll;
        }
    }
}

.custome-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);
}

.blog-search{
    border:none;
    outline: none;
    width: 100%;
    padding: em(16) em(32) em(10) em(0);
    font-size: rem(20);
    color: $clr-primary;
    font-family:$ff-regular;
    &::placeholder{
        font-size: rem(20) !important;
        color: $clr-primary !important;
    }
}

.blogs{
    &__figcaption{
        width: 70%;
        max-width: 100%;
        p{
            font-size: rem(24);
            line-height: 1.5;
            font-family: $ff-objsRegular;
        }
    }
}

.datetime{
    font-size: rem(16);
    line-height: 1.75;
    color:$clr-primary;
}

.stay{
    padding-block: em(150);
    background-color: $clr-primary;
}

.custom-select-wrapper {
    min-width: 280px;
    position: relative;

    &::after{
        @include caret-down;
    }
}

.custom-select{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: rem(20);
    padding: 1.5em 0em 2em 0.5em;
    background-color: $clr-white;
    border:none;
    border-bottom: 2px solid #caced1;
    color: $clr-primary;
    cursor: pointer;
    outline:none;
}
 .form__control--select{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-color: $clr-white;
    color: $clr-primary;
    cursor: pointer;
}

 